<h2>{{ title }}</h2>
<form novalidate [formGroup]="form">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Firstname</label>
    <div class="col-sm-10">
      <input type="text" name="firstname" class="form-control" formControlName="firstname" />
    </div>
    <div
      class="offset-sm-2 col-sm-10 text-danger"
      *ngIf="
        form.get('firstname').invalid &&
        (form.get('firstname').dirty || form.get('firstname').touched)
      "
    >
      <span *ngIf="form.get('firstname').hasError('required')">
        Firstname is required.
      </span>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Lastname</label>
    <div class="col-sm-10">
      <input type="text" name="lastname" class="form-control" formControlName="lastname" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="text" name="email" class="form-control" formControlName="email" />
    </div>
  </div>
  <div
    class="offset-sm-2 col-sm-10 text-danger"
    *ngIf="form.get('email').invalid && (form.get('email').dirty || form.get('email').touched)"
  >
    <span *ngIf="form.get('email').hasError('invalidemail')">
      Firstname is required.
    </span>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Confirm Email</label>
    <div class="col-sm-10">
      <input type="text" name="emailConfirm" class="form-control" formControlName="emailConfirm" />
    </div>
  </div>
  <div class="form-group row">
    <!-- <label class="col-sm-2 col-form-label">Confirm Email</label>
    <div class="col-sm-10">
      <input type="text" name="emailConfirm" class="form-control" formControlName="emailConfirm" />
    </div> -->
    <app-employee-rating></app-employee-rating>
  </div>

  <div class="form-actions">
    <button type="button" class="btn btn-ok" *ngIf="!isEdit" (click)="createEmployee()">
      Create
    </button>
    <button type="button" class="btn btn-ok" *ngIf="isEdit" (click)="updateEmployee()">
      Save
    </button>
    <button type="button" class="btn btn-warning" *ngIf="isEdit" (click)="removeEmployee()">
      Delete
    </button>
    <button type="button" class="btn btn-dark" (click)="goBack()">
      Back
    </button>
  </div>
</form>
