<h2>{{ title }}</h2>
<form [formGroup]="form">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Firstname</label>
    <div class="col-sm-10">
      <input
        type="text"
        formControlName="firstname"
        class="form-control"
        autocomplete="given-name"
        libAutoFocus
      />
    </div>
    <div
      class="offset-sm-2 col-sm-10 text-danger"
      *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)"
    >
      <span *ngIf="firstname.hasError('required')">
        Firstname is required.
      </span>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Lastname</label>
    <div class="col-sm-10">
      <input
        type="text"
        formControlName="lastname"
        class="form-control"
        autocomplete="family-name"
      />
    </div>
    <div
      class="offset-sm-2 col-sm-10 text-danger"
      *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)"
    >
      <span *ngIf="lastname.hasError('required')">
        Lastname is required.
      </span>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="text" formControlName="email" class="form-control" autocomplete="email" />
    </div>
    <div
      class="offset-sm-2 col-sm-10 text-danger"
      *ngIf="email.invalid && (email.dirty || email.touched)"
    >
      <span *ngIf="email.hasError('required')">
        E-Mail is required.
      </span>
      <span *ngIf="email.hasError('invalidemail')">
        E-Mail is invalid.
      </span>
      <span *ngIf="email.hasError('emailNotUnique')">
        E-Mail is not unique.
      </span>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Confirm Email</label>
    <div class="col-sm-10">
      <input type="text" formControlName="emailConfirm" class="form-control" autocomplete="email" />
    </div>
    <div
      class="offset-sm-2 col-sm-10 text-danger"
      *ngIf="emailConfirm.invalid && (emailConfirm.dirty || emailConfirm.touched)"
    >
      <span *ngIf="emailConfirm.hasError('required')">
        E-Mail is required.
      </span>
      <span *ngIf="emailConfirm.hasError('invalidemail')">
        E-Mail is invalid.
      </span>
    </div>
    <div
      class="offset-sm-2 col-sm-10 text-danger"
      *ngIf="form.hasError('nomatch') && (emailConfirm.dirty || emailConfirm.touched)"
    >
      <span *ngIf="form.hasError('nomatch')">
        E-Mails must match.
      </span>
    </div>
  </div>

  <div class="form-actions">
    <button type="button" class="btn btn-ok" *ngIf="!isEdit" (click)="createEmployee()">
      Create
    </button>
    <button type="button" class="btn btn-ok" *ngIf="isEdit" (click)="updateEmployee()">
      Save
    </button>
    <button type="button" class="btn btn-warning" *ngIf="isEdit" (click)="removeEmployee()">
      Delete
    </button>
  </div>
</form>
